@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #37AFE1;
  --foreground: #000000;
  --paper: #4CC9FE;
  --bg-btn: #FFFECB;
  --paper-in-paper: #4CC9FE
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #402E7A;
    --foreground: #FFFFFF;
    --paper: #4C3BCF;
    --bg-btn: #3DC2EC;
    --paper-in-paper: rgb(245, 244, 179, 0.3)
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
